---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<ol>
			<li>API?</li>
			<li>Engine?</li>
			<li>UI Framework?</li>
			<li>CSS Framework?</li>
			<li>View Transitions?</li>
		</ol>
	</main>
</Layout>
